<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FlyCatAdministration.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D2724D13213E1E1A002E43CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2724D27213E1E1C002E43CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2724D32213E1E1C002E43CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
